.App {
  text-align: center;
  color: #fff;
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #292e49,
    #536976
  );
  height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user-form {
  background: rgba(0, 0, 0, 0.356);
  border-radius: 20px;
  box-shadow: 0 10px 2px rgb(255, 255, 255);
  height: 500px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
}

.user-form input {
  padding: 10px;
}
.user-form label p {
  color: red;
  font-size: 0.8rem;
  /* background: rgba(26, 25, 25, 0.37); */
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
}
.user-form button {
  color: #fff;
  width: 200px;
  margin: 0 auto;
  font-size: 1.6rem;
  border: none;
  border-radius: 50px;
  padding: 10px;
  background: #0052D4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
